---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/* Fonts */
$regularFont: 'proxima-regular', arial, sans-serif;
$boldFont: 'proxima-bold', arial, sans-serif;
$lightFont: 'proxima-light', arial, sans-serif;
$titleFont: 'myriad-pro', arial, sans-serif;
$monoSpaceFont: Consolas, Monaco, 'Andale Mono', monospace;

/* Colours */
$darkerColor: #212124;
$secondaryColor: #4B4B4B;
$secondGreyColor: #666666;
$hoverColor: #969595;
$lightColor: #F3F5F6;
$whiteColor: #FFFFFF;
$darkColor: #000000;

$menuBackground: #53788C;
$menuBackgroundDarkened: #1D4052;

$accentColor: #1D4052;
/*2B4F81*/
$errorColor: #E3170D;
$successColor: #308014;

/* Animations */
$defaultTransitionTime: 0.3s;
$defaultTransition: all $defaultTransitionTime;
$bounceTransition: transform $defaultTransitionTime cubic-bezier(0.175, 0.885, 0.32, 1.275);


// Mixin for the media queries
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 769px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == phone {
    @media (max-width: 550px) {
      @content;
    }
  } @else if $point == watch {
    @media (max-width: 312px) and (max-height: 390px) {
      @content;
    }
  }
}

// Import partials from `_sass`
@import "../_sass/reset";
@import "../_sass/base";
@import "../_sass/layout";
@import "../_sass/header";
@import "../_sass/footer";
@import "../_sass/home";
@import "../_sass/post";
@import "../_sass/project";
@import "../_sass/syntax-highlighting";
