<link rel="stylesheet" property="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<footer class="footer" id="footer">
	<div class="main">
		<div class="footer-content">
			<div class="left">
				Questions or Comments?<br>
				<a id="footer-email" href="mailto:jonah.moeller+jonahml@googlemail.com">jonah.moeller@googlemail.com</a>
			</div>
			<div class="right">
				<a href="https://github.com/{{ site.github_username }}" target="_blank"
				aria-label="Github Account">GitHub</a><br/>
				<a href="{{ "/feed.xml" | prepend: site.baseurl }}" aria-label="RSS Feed">RSS Feed</a>
			</div>
		</div>
	</div>
</footer>
<link rel="stylesheet" property="stylesheet" href="{{ "/assets/fonts.css" | prepend: site.baseurl }}">
