<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="author" content="{{ site.author }}">
	<meta name="robots" content="noodp, noydir">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no"/>

	{% include social_media.html %}

	<link rel="icon" href="/assets/favicon.ico?v=201609021848" type="image/x-icon"/>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.live_url }}">

	<script>
		var key = 'fonts';
		var cache;

		function insertFont(value) {
			var style = document.createElement('style');
			style.innerHTML = value;
			document.head.appendChild(style);
		}

		try {
			cache = window.localStorage.getItem(key);
			if (cache) {
				insertFont(JSON.parse(cache).value);
			}
		} catch(e) {
			console.warn(e);
		}
	</script>
	<link rel="stylesheet" property="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
</head>
