<header class="header" id="header">
	<nav class="site-nav">
		{% for link in site.navigation %}
			{% assign current = nil %}
			{% if page.url == link.url or page.layout == link.layout %}
				{% assign current = 'active' %}
			{% endif %}
			<a class="page-link {{ current }}" href="{{ link.url }}">{{ link.text }}</a>
		{% endfor %}

		<!-- TODO: move to the bottom of the page -->
		<a class="page-link" style="float: right" href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
	</nav>
	<div class="header-icon"></div>

</header>
