<header class="header" id="header">
	<div class="main">
		<a class="site-title" href="{{ '/' | prepend: site.baseurl }}">{% if page.h1 %}{{ page.h1 }}{% else %}<b>Jonah</b> <span class="last-name">Möller</span>{% endif %}</a>
		<nav class="site-nav">
			<div class="static-pages">
				<a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">about</a>
				<a class="page-link" href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
			</div>
		</nav>
	</div>
</header>
