<header class="header">

	<div class="main">
		<!--
		<img class="logo" src="/assets/small-icon.png" width="64" height="64">-->

		<div class="header-content">
			<a class="site-title" href="{{ site.baseurl }}/">{{ site.author }}</a>

			<nav class="site-nav">
				<div class="static-pages">
					<a class="page-link" href="{{ '/' | prepend: site.baseurl }}">Home</a>
					<a class="page-link" href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a>
					<a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">About</a>
				</div>
			</nav>
		</div>
	</div>
</header>
