$globalColors: (
        white: #ffffff,
        black: #000000,
        gray: (
                base: #47525d,
                x-dark: #2a2a2a,
                dark: #3d464d,
                medium: #7b8994,
                light: #d0d4d9,
                x-light: #f7f9fa),
        blue: (
                base: #007ee5,
                x-dark: #18333f,
                dark: #0071ce,
                medium: #72b6ec,
                light: #cce6fa,
                x-light: #f4faff),
        red: (
                base: #cc3232,
                x-dark: #8a1111,
                dark: #c21c1c,
                medium: #de4b4b,
                light: #fcbdbd,
                x-light: #ffe3e3),
        green:(
                base: #48ac68,
                x-dark: #2c683f,
                dark: #3a8a54,
                medium: #86c49a,
                light: #ddf0e2,
                x-light: #edfaf1),
        yellow: (
                base: #fcca00,
                x-dark: #996e00,
                dark: #c99700,
                medium: #fce897,
                light: #fff5cc,
                x-light: #fffdec),
) !default;
