/* Colours */
$darkerColor: #212124;
$secondaryColor: #4b4b4b;
$secondGreyColor: #666666;
$hoverColor: #969595;
$lightColor: #f3f5f6;
$whiteColor: #ffffff;
$darkColor: #000000;

$menuBackground: #53788c;
$menuBackgroundDarkened: #1d4052;

$accentColor: #1d4052;
/*2B4F81*/
$errorColor: #e3170d;
$successColor: #308014;
