@import "settings";
@import "colours/functions";

* {
  box-sizing: border-box;
}

html, body {
  font-family: $regularFont;

  h1, h2, h3, h4, h5, h6 {
    color: color(grey, x-dark);
    font-family: $titleFont;
    font-weight: 400;
  }

  h4, h5, h6 {
    text-transform: uppercase;
  }

  p, ul, ol {
    color: color(grey, dark);
    font-family: $regularFont;
    font-size: 17px;
    line-height: 130%;
    margin-bottom: 15px;

    @include breakpoint('phone') {
      font-size: 16px;
    }

    @include breakpoint('watch') {
      font-size: 14px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  code {
    font-family: $monoSpaceFont;
  }

  a {
    color: color(red);
    cursor: pointer;
    font-family: $regularFont;
    text-decoration: none;
    transition: color 100ms ease-in;

    &.active, &:hover, &.selected {
      color: color(red, 0.6);
    }
  }
}

::selection {
  color: color(white);
  background-color: color(red);
}
