@import "settings";
@import "colours/functions";

html, body {
  font-family: $defaultFont;

  h1, h2, h3, h4, h5, h6 {
    color: color(grey, x-dark);
    font-family: $defaultFont;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: -1px;

    @include breakpoint('tablet') {
      font-size: 22px;
      line-height: 30px;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 22px;
    text-transform: lowercase;

    @include breakpoint('phone') {
      font-size: 20px;
    }
  }

  p, ul, ol {
    color: color(grey, dark);
    font-family: $textFont;
    font-size: 17px;
    line-height: 130%;
    margin-bottom: 10px;

    @include breakpoint('tablet') {
      font-size: 16px;
      color: color(grey, x-dark);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;

    li:before {
      display: inline-block;
      float: left;
      content: '»';
      color: rgb(105, 105, 105);
      margin-right: 4px;
    }
  }

  code {
    font-family: $monoSpaceFont;
  }

  a {
    color: $accentColor;
    cursor: pointer;
    text-decoration: none;
    transition: color $animationDuration ease-in;

    &.active, &:hover, &.selected {
      color: lighten($accentColor, 20%);
    }
  }
}

::selection {
  color: color(white);
  background-color: color(grey, x-dark);
}
