* {
  box-sizing: border-box;
}

html, body {
  font-family: $regularFont;

  h1, h2, h3, h4, h5, h6 {
    color: $darkColor;
    font-family: $titleFont;
    font-weight: 400;
  }

  h2 {
    font-size: 24px;
  }

  h4, h5, h6 {
    text-transform: uppercase;
  }

  p, ul, ol {
    color: $darkerColor;
    font-family: $regularFont;
    font-size: 17px;
    line-height: 130%;
    margin-bottom: 15px;

    @include breakpoint('phone') {
      font-size: 16px;
    }

    @include breakpoint('watch') {
      font-size: 14px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: $secondaryColor;
    cursor: pointer;
    font-family: $regularFont;
    transition: color $defaultTransitionTime;

    &.active, &:hover, &.selected {
      color: $hoverColor;
    }
  }
}

::selection {
  color: $whiteColor;
  background-color: #4a4c7b;
}
