@import "settings";

.error {
  font-family: $regularFont;
  text-align: center;
  padding-top: 45px;

  h1 {
    font-family: $titleFont;
    font-size: 25px;
    margin-bottom: 15px;

    @include breakpoint('phone') {
      font-size: 28px;
    }
  }
}
