@import "settings";
@import "colours/functions";

.footer {
  .footer-content {
    clear: both;
    padding-top: 10px;
    border-top: 2px solid color(grey, 0.1);
    font-size: 90%;

    @include breakpoint('desktop') {
      opacity: 0.7;
      transition: opacity 0.1s ease-in;
      font-size: 95%;

      &:hover {
        opacity: 1;
      }
    }

    a:hover {
      color: $color-accent;
    }

    .left {
      display: inline-block;
      text-align: left;
    }

    .right {
      float: right;
      text-align: right;
    }
  }
}
