@import "settings";

.footer {
  background-color: #0e153a;
  background-image: -o-linear-gradient(-40deg, #a18cab 10%, #0e153a 90%);
  background-image: -moz-linear-gradient(-40deg, #a18cab 10%, #0e153a 90%);
  background-image: -webkit-linear-gradient(-40deg, #a18cab 10%, #0e153a 90%);
  background-image: linear-gradient(130deg, #a18cab 10%, #0e153a 90%);

  &.daytime {
    background-color: #bee1c4;
    background-image: -moz-linear-gradient(-40deg, #5d7883 10%, #1e2a44 90%);
    background-image: -webkit-linear-gradient(-40deg, #5d7883 10%, #1e2a44 90%);
    background-image: linear-gradient(130deg, #5d7883 10%, #1e2a44 90%);
  }

  .main {
    text-align: center;

    @include breakpoint('phone') {
      font-size: 14px;
    }

    * {
      color: $whiteColor;
    }

    .links {
      margin-bottom: 10px;

      @include breakpoint('phone') {
        margin-bottom: 5px;
      }
      
      .svg-link {
        text-decoration: none;
        margin-left: 5px;

        &:first-of-type {
          margin-left: 0;

        }

        svg {
          width: 16px;
          height: 16px;
          vertical-align: middle;
        }

        .title {
          vertical-align: middle;
        }
      }
    }
  }
}
