@import "settings";
@import "base";
@import "colours/functions";

.header {
  background: $color-accent;

  .main {
    clear: both;

    .header-content {
      vertical-align: middle;

      .site-title {
        color: color(white);
        text-decoration: none;
        font-size: 24px;
        transition: color 0.2s;
        display: inline-block;

        @include breakpoint('phone') {
          font-size: 20px;
        }

        &:hover {
          color: lighten($color-accent, 35%);
        }
      }

      .site-nav {
        float: right;
        margin-top: 5px;

        .static-pages {
          a {
            color: lighten($color-accent, 35%);
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 5px;
            padding: 2px 5px;
            transition: color 0.2s;

            &:last-of-type {
              margin-right: 0;
            }

            &:hover {
              color: color(white);
            }
          }
        }
      }
    }
  }
}
