@import "settings";
@import "base";
@import "colours/functions";

.header {
  background: $color-accent;

  .main {
    clear: both;
    vertical-align: middle;

    .site-title {
      color: color(white);
      text-decoration: none;
      font-size: 24px;
      transition: color 0.2s;
      display: inline-block;

      @include breakpoint('phone') {
        font-size: 22px;
      }

      @media (max-width: 300px) {
        .last-name {
          display: none;
        }
      }

      &:hover {
        color: lighten($color-accent, 50%);
      }
    }

    .site-nav {
      float: right;
      margin-top: 5px;

      .static-pages {
        a {
          color: lighten($color-accent, 50%);
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          margin-right: 5px;
          padding: 2px 5px;
          transition: color 0.2s;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            color: color(white);
          }
        }
      }
    }
  }
}

.map {
  width: 75%;
  margin: 0 auto;

  @include breakpoint('tablet') {
    width: 100%;
  }
}

.photography {
  .header {
    background: transparent;
    margin-top: 30px;

    .site-title {
      color: color(black);
      text-align: center;
      font-size: 20px;
      width: 100%;
      font-weight: 900;
      text-transform: uppercase;

      @include breakpoint('phone') {
        font-size: 18px;
      }

      &:hover {
        color: lighten(color(black), 35%);
      }
    }

    .site-nav {
      display: none;
    }
  }
}
