@import "settings";
@import "base";
@import "colours/functions";

.header {
  .main {
    clear: both;

    .header-content {
      vertical-align: middle;

      .site-title {
        color: color(white);
        background: $color-accent;
        text-decoration: none;
        font-size: 23px;
        padding: 1px 7px 2px 7px;
        border-radius: 3px;
        transition: color 0.2s, background-color 0.2s;
        display: inline-block;


        @include breakpoint('phone') {
          font-size: 21px;
          padding: 3px 7px 2px 5px;
        }

        &:hover {
          background-color: lighten($color-accent, 10%);
        }
      }

      .site-nav {
        float: right;
        margin-top: 5px;

        .static-pages {
          a {
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bolder;
            color: color(gray);
            padding-right: 10px;
            transition: color 0.2s;

            &:hover {
              color: $color-accent;
            }
          }
        }
      }
    }
  }
}
