@import "settings";
@import "colours/functions";

.post-list {
  list-style: none;

  li {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  .post-link {
    text-decoration: none;
    display: block;
  }

  .post-meta {
    color: color(grey, 0.8);
    font-size: 16px;
    position: relative;
  }

  .post-foreword {
    color: #2a2a2a;
  }

  a:hover {
    color: color(grey, dark);
  }

  h2 {
    margin-bottom: 2px;
    font-size: 24px;

    @include breakpoint('phone') {
      font-size: 22px;
    }
  }
}
