@import "settings";
@import "base";
@import "colours/functions";

.post-list {
  list-style: none;
  margin-top: 20px;

  @include breakpoint('phone') {
    margin-top: 0;
  }

  li {
    margin-bottom: 20px;

    @include breakpoint('phone') {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .post-link {
    text-decoration: none;
    display: block;
    transition: opacity $animationDuration;

    &:hover {
      opacity: 0.8;
    }
  }

  .post-meta {
    color: color(grey, medium);
    font-size: 100%;
    position: relative;

    @include breakpoint('desktop') {
      margin-top: 3px;
    }
  }

  .post-foreword {
    color: color(grey, x-dark);
    font-family: $textFont;

    @include breakpoint('phone') {
      line-height: 115%;
    }
  }
}
