@import "settings";

form {
  width: 100%;

  label {
    display: none;
  }

  input, textarea {
    background-color: $white;
    border: 2px solid darken($color-light, 20%);
    border-radius: 0;
    box-shadow: 0;
    box-sizing: border-box;
    font-family: $regularFont;
    font-size: 15px;
    outline: none;
    padding: 10px;
    width: 100%;
    transition: border $defaultTransitionTime, color $defaultTransitionTime;
    -webkit-appearance: none;

    &:focus {
      border: 2px solid darken(#cccccc, 30%);
      color: $black;
    }

    @include breakpoint(phone) {
      font-size: 16px;
    }
  }

  textarea {
    height: 160px;
    resize: none;
    width: 100%;
  }

  button {
    background: $white;
    border: 2px solid darken($color-light, 20%);
    color: $black;
    font-family: $regularFont;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
    padding: 8px 18px;
    text-align: center;
    transition: border $defaultTransitionTime;

    @include breakpoint(desktop) {
      &:hover {
        border-color: $hoverColor;
        cursor: pointer;
      }
    }
  }
}
