@import "settings";

.main {
  clear: both;
  height: 100%;
  padding: 10px;
  max-width: 768px;
  margin: 0 auto;

  @include breakpoint('tablet') {
    width: 100%;
  }

  @include breakpoint('phone') {
    padding: 10px;
  }
}

section.main {
  margin-top: 75px;

  @include breakpoint('phone') {
    margin-top: 10px;
  }
}
