@import "settings";

.post-header {
  .post-meta {
    color: $hoverColor;
    font-size: 15px;
    position: relative;
    margin-bottom: 20px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 35px;
      bottom: -4px;
      left: 0;
      border: 1px solid grey;
    }

    h1 {
      margin-bottom: 15px;
    }
  }
}
