@import "settings";
@import "colours/functions";

.post {
  margin-top: 20px;

  @include breakpoint('phone') {
    margin-top: 0;
  }

  .post-header {
    .post-title {
      text-transform: lowercase;
    }

    .post-meta {
      color: color(grey);
      font-size: 15px;
      position: relative;
      margin-bottom: 20px;
    }
  }
}
