@import "settings";
@import "colours/functions";

#search-query {
  background: transparent;
  color: color(white);
  padding: 0px;
  display: block;
  font-size: 26px;
  font-family: $defaultFont;
  border-radius: 0;
  border: 0;
  width: 100%;

  @include breakpoint('phone') {
    font-size: 20px;
    padding: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
  color: lighten($accentColor, 50%);
}

:-moz-placeholder {
  color: lighten($accentColor, 50%);
}
