@charset "utf-8";

@import "functions/breakpoint";

/* Fonts */
$defaultFont: 'circular', arial, sans-serif;
$textFont: 'circular', serif;
$monoSpaceFont: 'fira-code', sans-serif;

/* Animations */
$animationDuration: 150ms;


