@charset "utf-8";

/* Fonts */
$regularFont: 'sans-serif', arial, sans-serif;
$titleFont: 'sans-serif', arial, sans-serif;
$monoSpaceFont: consolas, monospace;

@import "functions/breakpoint";
@import "colours/default";
