@import url('./variables.css');

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background);
    margin: 3rem 1.5rem 2rem;
    padding: 0;
    color: var(--text-primary);
    font-size: 1rem;
    line-height: 1.4;
    font-family: var(--font-family);
}

p {
    margin: 1.5rem 0;
}

b {
    font-weight: 600;
}

a,
a:link,
a:visited {
    color: var(--text-link);
    text-decoration: none;
    border-radius: 0.125rem;
    border: transparent solid 0.125rem;
}

a:hover,
a:active {
    color: var(--text-primary);
    background: var(--text-link);
    border-color: var(--text-link);
}

.whois {
    font-weight: 800;
}

@media (min-width: 812px) {
    body {
        font-size: 1.1rem;
        margin: 5rem;
    }

    main {
        max-width: 50rem;
    }

    p {
        margin: 2rem 0;
    }
}

@media (min-width: 1440px) {
    body {
        font-size: 1.2rem;
        margin: 6rem;
    }

    p {
        margin: 3rem 0;
    }
}

@import url('./cursor.css');
