@import url('./variables.scss');

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background);
    margin: 2.5rem 1.125rem 1.125rem;
    padding: 0;
    color: var(--text-primary);
    font-size: 1rem;
    line-height: 1.4;
    font-family: var(--font-family);
}

p {
    margin: 1.5rem 0;
}

b {
    font-weight: 800;
}

a,
a:link,
a:visited {
    color: var(--text-link);
    text-decoration: none;
    transition: box-shadow 75ms;
    box-shadow: transparent 0 0.1rem 0 0;
}

a:hover,
a:active {
    text-decoration: none;
    box-shadow: var(--text-link) 0 0.1rem 0 0;
}

.whois {
    font-weight: 800;
    font-size: 1.25rem;
}

.whois a {
    font-style: italic;
}

@media (min-width: 812px) {
    body {
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 5rem;
    }

    main {
        max-width: 50rem;
    }

    p {
        margin: 2rem 0;
    }
}

@media (min-width: 2560px) {
    body {
        margin: 5rem auto;
        max-width: calc(1440px - 10rem);
    }
}

@import url('./cursor.css');
