.terminal-indicator {
    font-weight: 800;
    color: var(--text-link);
}

.cursor {
    display: inline-block;
    width: 0.8rem;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 0.15rem solid var(--text-link);
}

.cursor--blinking {
    animation: blink 1s step-start 0s infinite;
}
