@import url('./common.css');

.contact {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 0.5rem 0;
    grid-template: repeat(4, auto) / auto;
}

.contact__link-emoji {
    margin-right: 0.5rem;
}

@media (min-width: 812px) {
    .contact {
        grid-gap: 0 1.75rem;
        grid-template: auto / repeat(4, auto) 1fr;
    }

    .contact__link-emoji {
        margin-right: 0.25rem;
    }
}
