:root {
    --background: rgba(10, 2, 25, 1);
    --text-primary: rgba(255, 255, 255, 0.8);
    --text-link: rgba(255, 255, 255, 1);
    --fancy-gradient: linear-gradient(
        100deg,
        #ff377f 0%,
        #c984ff 15%,
        #3971ff 26%,
        #3971ff 33%,
        #3971ff 48%,
        #c984ff 59%,
        #ff377f 66%,
        #c984ff 81%,
        #3971ff 91%,
        #3971ff 100%
    );
    --font-family: 'Recursive', monospace;
}

@media (color-gamut: p3) {
    @supports (color: oklch(0 0 0)) {
        :root {
            --background: oklch(16.48% 0.0711 255.8);

            --background: oklch(12.95% 0.0555 255.8);

            --text-primary: rgba(255, 255, 255, 0.8);
            --text-link: rgba(255, 255, 255, 1);
            --fancy-gradient: linear-gradient(
                100deg,
                oklch(67% 0.3 2) 0%,
                oklch(74.7% 0.2274 318.69) 15%,
                oklch(57.35% 0.2466 263.35) 26%,
                oklch(57.35% 0.2466 263.35) 33%,
                oklch(57.35% 0.2466 263.35) 48%,
                oklch(74.7% 0.2274 318.69) 59%,
                oklch(67% 0.3 2) 66%,
                oklch(74.7% 0.2274 318.69) 81%,
                oklch(57.35% 0.2466 263.35) 91%,
                oklch(57.35% 0.2466 263.35) 100%
            );
            --font-family: 'Recursive', monospace;
        }
    }
}
