name: build-and-deploy
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - '*'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2.3.1

            - name: Install dependencies
              run: npm ci

            - name: Lint files
              run: npm run lint

            - name: Build project
              run: npm run build

    deploy:
        if: github.ref == 'refs/heads/master'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2.3.1

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build

            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@4.1.6
              with:
                  branch: gh-pages
                  folder: dist
